/* Colors */
/* Fonts */
/* UI */
.loginButton {
  text-decoration: none;
  text-transform: uppercase;
  font-weight: 600;
  white-space: nowrap;
  cursor: pointer;
  max-width: 250px;
  border-radius: 500px;
  padding: 20px 45px;
  font-size: 14px;
  font-weight: 600;
  color: white;
  background-color: #1ed760; }
  .loginButton:hover {
    background-color: #4bdf80; }

.modal {
  background-color: rgba(25, 20, 20, 0.8);
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  z-index: 2;
  display: flex;
  align-items: center;
  justify-content: center; }

.modalMessage {
  opacity: 1;
  width: 60%;
  padding: 20px 45px;
  background-color: white;
  position: relative;
  max-width: 690px;
  min-width: 360px;
  box-sizing: border-box; }
  .modalMessage__title {
    border-bottom: 2px solid #191414;
    font-weight: 600; }
  .modalMessage__content {
    margin-top: 15px; }
  .modalMessage__close {
    cursor: pointer;
    position: absolute;
    top: 15px;
    right: 15px; }

.track {
  width: 150px;
  margin-bottom: 15px;
  margin-right: 15px;
  opacity: 1;
  transition: opacity .2s ease-in-out;
  cursor: pointer; }
  .track:hover {
    opacity: 0.5; }
  .track__label {
    background-color: #1ed760;
    font-weight: 600;
    text-align: right;
    color: #191414;
    padding: 8px;
    position: relative;
    left: 5px;
    top: -10px; }

.navigation {
  height: 80px;
  padding: 15px;
  box-sizing: border-box;
  width: 100%;
  position: fixed;
  z-index: 1;
  background-color: rgba(25, 20, 20, 0.8);
  cursor: default; }
  .navigation__title {
    color: white;
    line-height: 50px;
    font-size: 26px; }
  .navigation__userProfile {
    float: right;
    overflow: hidden;
    border-radius: 50px;
    border: 2px solid white; }

.trackInfo {
  display: flex; }
  .trackInfo__albumImage {
    flex: 0 0 150px; }

.trackDescription {
  flex: 1 1 0;
  display: flex;
  flex-direction: column; }
  .trackDescription__text {
    flex: 1 1 100%;
    margin-bottom: 30px; }
  .trackDescription__deleteButton {
    text-decoration: none;
    text-transform: uppercase;
    font-weight: 600;
    white-space: nowrap;
    cursor: pointer;
    background-color: white;
    color: #191414;
    border: 2px solid #f8523c;
    padding: 8px 18px;
    border-radius: 50px;
    transition: background-color .2s ease-in-out;
    align-self: self-end;
    flex: 0 0 auto; }
    .trackDescription__deleteButton:hover {
      background-color: #ecebe8; }

@media (max-width: 900px) {
  .trackInfo {
    flex-direction: column; }
    .trackInfo__albumImage {
      order: 1; }
  .trackDescription {
    flex: 1 1 100%;
    order: 2; } }

.error {
  min-height: 100%;
  font-weight: 600;
  display: flex;
  align-items: center;
  justify-content: center; }
  .error > * {
    flex: 0 0 auto; }

.errorMessage__textBlock--large {
  padding: 20px 45px;
  font-size: 50px; }

.errorMessage__textBlock--medium {
  padding: 12px 27px;
  font-size: 30px;
  position: relative;
  left: 50px;
  top: -10px; }

.errorMessage__textBlock--green {
  background-color: #1ed760;
  color: white; }

.errorMessage__textBlock--white {
  background-color: white;
  color: #191414; }

.errorMessage__tryAgain {
  margin-top: 50px; }

html, body, #musicAppRoot {
  margin: 0;
  padding: 0;
  height: 100%;
  width: 100%;
  font-family: Circular,Helvetica,Arial,sans-serif;
  letter-spacing: 2px; }
  html > *, body > *, #musicAppRoot > * {
    background: linear-gradient(180deg, #191414, white);
    background-color: #191414; }

.musicApp {
  min-height: 100%; }
  .musicApp--unauthorized {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center; }
  .musicApp__tracksList {
    display: flex;
    flex-flow: wrap;
    padding-top: 95px; }
