/* Colors */
$green: rgba(30, 215, 96, 1);
$light-green: rgba(75, 223, 128, 1);
$black: rgba(25, 20, 20, 1);
$black-08: rgba(25, 20, 20, .8);
$white: rgba(255, 255, 255, 1);
$red: rgba(248, 82, 60, 1);
$sand: rgba(236, 235, 232, 1);

/* Fonts */
$font-size: 14px;

/* UI */
$line-height: 1.4;
$lines-to-show: 2;

@mixin button {
  text-decoration: none;
  text-transform: uppercase;
  font-weight: 600;
  white-space: nowrap;
  cursor: pointer;
}