.deletedTrack {
  padding: 8px 18px;
  display: flex;
  align-items: center;
  margin-bottom: 15px;

  &:nth-child(even) {
    background-color: $white;

    & > .deletedTrack__restoreButton {
      background-color: $green;
      border: 2px solid $green;
      color: $white;

      &:hover {
        background-color: $white;
        color: $green;
      }
    }
  }

  &:nth-child(odd) {
    background-color: $green;

    & > .deletedTrack__restoreButton {
      background-color: $white;
      border: 2px solid $white;
      color: $black;

      &:hover {
        background-color: $green;
        color: $white;
      }
    }
  }

  &__restoreButton {
    @include button;

    padding: 10px 40px;
    font-size: 12px;
    margin-left: 30px;
  }
}