.error {
  min-height: 100%;
  font-weight: 600;
  display: flex;
  align-items: center;
  justify-content: center;

  >* {
    flex: 0 0 auto;
  }
}

.errorMessage {
  &__tryAgain {
    margin-top: 50px;
  }
}