.loginButton {
  @include button;

  max-width: 250px;
  padding: 20px 45px;
  font-size: 14px;
  font-weight: 600;
  color: $white;
  background-color: $green;

  &:hover {
    background-color: $light-green;
  }
}