.navigation {
  flex: 1 0 auto;
  padding: 15px;
  box-sizing: border-box;
  width: 100%;
  background-color: transparent;
  cursor: default;
  display: flex;

  &__links {
    flex: 1 1 auto;

    >* {
      color: $white;
      line-height: 50px;
      font-size: 18px;
      text-decoration: none;
      margin-right: 30px;
    }

    > .active {
      color: $green;
    }
  }

  &__userProfile {
    flex: 0 0 auto;
    align-self: flex-start;
    float: right;
    overflow: hidden;
    border-radius: 50px;
    border: 2px solid $white;
    width: 50px;
    height: 50px;
  }
}

@media (max-width: 730px) {
  .navigation {
    background-color: $black-08;

    &__links {
      display: flex;
      flex-direction: column;
    }
  }
}