.textBlock {
  @include shadow;

  &--large {
    padding: 20px 45px;
    font-size: 50px;
  }

  &--medium {
    padding: 12px 27px;
    font-size: 30px;
  }

  &--shifted {
    position: relative;
    left: 50px;
    top: -10px;
  }

  &--small {
    padding: 6px 14px;
    font-size: 22px;
  }

  &--green {
    background-color: $green;
    color: $white;
  }

  &--white {
    background-color: $white;
    color: $black;
  }
}

.number {
  color: $red;
}

.boldText {
  font-weight: 600;
}