.track {
  width: 150px;
  margin-bottom: 15px;
  margin-right: 15px;
  opacity: 1;
  cursor: pointer;

  &:hover {
    opacity: 0.5;
  }

  >* {
    @include shadow;
  }

  &__label {
    background-color: $green;
    font-weight: 600;
    text-align: right;
    color: $black;
    padding: 8px;
    position: relative;
    left: 5px;
    top: -10px;
  }
}