@import "constants";

@import "login-button";
@import "text-block";
@import "modal";
@import "track";
@import "navigation";
@import "trackinfo";
@import "deleted-track";
@import "error";
@import "empty-view";

html, body, #musicAppRoot {
  margin: 0;
  padding: 0;
  height: 100%;
  width: 100%;
  font-family: Circular,Helvetica,Arial,sans-serif;
  letter-spacing: 2px;

  >* {
    background: linear-gradient(180deg, $black, $white);
    background-color: $black;
  }
}

.musicApp {
  min-height: 100%;
  display: flex;
  flex-direction: column;

  &--unauthorized {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }

  &__tracksList {
    flex: 1 1 100%;
    display: flex;
    flex-flow: wrap;
    padding-top: 95px;
  }

  &__deletedTracksList {
    flex: 1 1 100%;
    padding-top: 95px;
    display: flex;
    flex-direction: column;
    align-items: center;
  }
}

@media (max-width: 500px) {
  .musicApp__tracksList, .musicApp__deletedTracksList {
    padding-top: 145px;
  }
}