@import "constants";

@import "login-button";
@import "text-block";
@import "modal";
@import "track";
@import "navigation";
@import "trackinfo";
@import "deleted-track";
@import "error";
@import "empty-view";

html, body, #musicAppRoot {
  margin: 0;
  padding: 0;
  height: 100%;
  width: 100%;
  font-family: Circular,Helvetica,Arial,sans-serif;
  letter-spacing: 2px;

  >* {
    background: linear-gradient(180deg, $black, $white);
    background-color: $white;
    background-attachment: fixed;
  }
}

.musicApp {
  height: 100%;
  display: flex;
  flex-direction: column;

  >* {
    overflow-y: scroll;
  }

  &--unauthorized {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }

  &__popularityPage {
    padding: 20px;
    flex: 1 1 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    >* {
      @include shadow;
    }
  }

  &__tracksList {
    flex: 1 1 100%;
    display: flex;
    flex-flow: wrap;
    padding-top: 20px;
  }

  &__deletedTracksList {
    flex: 1 1 100%;
    padding-top: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
  }
}

@media (max-width: 730px) {
  .musicApp {
    &__popularityPage {
      align-items: normal;
      justify-content: normal;
      padding: 20px 0;

      &--loading {
        align-items: center;
        justify-content: center;
      }
    }
  }
}